<!-- HEADER / FIRST SECTION ############################################### -->
<div class="header">
  <h1>Les incidents par armes à feu au États-Unis</h1>
  <p>Nous savons tous que les États-Unis sont le pays qui possède le plus d'armes à feu dans le monde. 
    En effet, selon l'article 
    <a href="https://www.journaldemontreal.com/2018/02/18/les-americains-possedent-la-moitie-des-armes-a-feu-dans-le-monde">
      <i>Les Américains possèdent la moitié des armes à feu dans le monde</i>
    </a>, 
    les Américains possèdent 310 millions des 650 millions d'armes à feu détenues par des civils à travers le monde.
    D'ailleurs, selon l'article 
    <a href="https://www.lemonde.fr/les-decodeurs/article/2017/10/02/avec-le-plus-fort-taux-d-armes-en-circulation-les-etats-unis-sont-aussi-le-pays-le-plus-meurtrier_5195001_4355770.html">
      <i>Les États-Unis, le pays occidental où le taux d'armes en circulation est le plus élevé</i>
    </a>, 
    les États-Unis sont le pays occidental où le nombre de morts par balle pour 100 000 habitants est le plus élevé, 
    soit quatre fois plus élevé que celui de son plus proche rival, l'Italie. Mais comment se répartissent ces incidents 
    par armes à feu aux États-Unis au cours des dernières années?
   </p>
  <a onClick="document.getElementById('datavis').scrollIntoView({behavior: 'smooth', inline: 'nearest'});" data-scroll
    href="#full">
    <div class="arrow"></div>
  </a>
</div>

<div id="datavis">
  <app-chloropleth> </app-chloropleth>
  <app-line-chart></app-line-chart>
  <app-slope-chart></app-slope-chart>
</div>
