<!-- HEADER / FIRST SECTION ############################################### -->
<div class="header">
  <h1>Les incidents par armes à feu au États-Unis</h1>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
    Lorem Ipsum.</p>
  <a onClick="document.getElementById('datavis').scrollIntoView({behavior: 'smooth', inline: 'nearest'});" data-scroll
    href="#full">
    <div class="arrow"></div>
  </a>
</div>

<div id="datavis">
  <app-chloropleth> </app-chloropleth>
  <app-line-chart></app-line-chart>
  <app-slope-chart></app-slope-chart>
</div>
