<div class="container">

  <h1>
    Quelle est la répartition géographique des incidents par armes à feu aux États-Unis?
  </h1>
  <p>
    Voici le nombre d'incidents cumulés par mois par État et par comtés au cours des années 2014, 2015, 2016 et 2017.
    Le
    total de ces quatre années y est également présent. Comme on peut le voir, ...
  </p>
  <h3>
    La répartition géographique des incidents par armes à feu
  </h3>
  <div class="row">
    <div class="col-10">
      <div id="map">
      </div>
    </div>
    <div class="col-2">
      <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">Choix de Régions</div>
        <div class="card-body">
          <div class="form-group">
            <div class="custom-control custom-radio">
              <input (click)="buildForStates()" type="radio" id="customRadio1" name="customRadio" class="custom-control-input"
                checked="">
              <label class="custom-control-label" for="customRadio1">États</label>
            </div>
            <div class="custom-control custom-radio">
              <input (click)="buildForCounties()" type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
              <label class="custom-control-label" for="customRadio2">Comtés</label>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
