<div style="padding: 2rem 2rem; text-align: center">
  <h4 class="display-5">Répartition géographique</h4>
  <p class="lead" style="font-size: 16px">Quelle est la répartition géographique des incidents par armes à feu aux
    États-Unis?
    <br>
    Voici le nombre d'incidents cumulés par mois par État et par comtés au cours des années 2014, 2015, 2016 et 2017.
    Le
    total de ces quatre années y est également présent. Comme on peut le voir, ...
  </p>
</div>
<div lass="container">
  <div class="row">
    <div class="col-10">
      <div style="text-align: center" id="map">
      </div>
    </div>
    <div class="col-2">
      <h6>Régions</h6>
      <div class="form-group">
        <div class="custom-control custom-radio">
          <input (click)="buildForStates()" type="radio" id="customRadio1" name="customRadio"
            class="custom-control-input" checked="">
          <label class="custom-control-label" for="customRadio1">États</label>
        </div>
        <div class="custom-control custom-radio">
          <input (click)="buildForCounties()" type="radio" id="customRadio2" name="customRadio"
            class="custom-control-input">
          <label class="custom-control-label" for="customRadio2">Comtés</label>
        </div>
      </div>
      <h6>Anné</h6>
      <div class="form-group">
        <div class="custom-control custom-radio">
          <input (click)="changeYear('2014')" type="radio" id="customRadio1_2" name="customRadio2"
            class="custom-control-input" checked="">
          <label class="custom-control-label" for="customRadio1_2">2014</label>
        </div>
        <div class="custom-control custom-radio">
          <input (click)="changeYear('2015')" type="radio" id="customRadio2_2" name="customRadio2"
            class="custom-control-input">
          <label class="custom-control-label" for="customRadio2_2">2015</label>
        </div>
        <div class="custom-control custom-radio">
          <input (click)="changeYear('2016')" type="radio" id="customRadio3_3" name="customRadio2"
            class="custom-control-input">
          <label class="custom-control-label" for="customRadio3_3">2016</label>
        </div>
        <div class="custom-control custom-radio">
          <input (click)="changeYear('2017')" type="radio" id="customRadio4_4" name="customRadio2"
            class="custom-control-input">
          <label class="custom-control-label" for="customRadio4_4">2017</label>
        </div>
      </div>
      <div>
        <div id="legend1" style="text-align: center" width="200" height="50"></div>
        <div class="parent" style="margin-right: auto; align-items: center; display: flex;">
          <div id="legende-min" >{{this.minimum}}</div>
          <div id="legende-max" >{{this.maximum}}</div>
        </div>
      </div>
    </div>
  </div>
</div>