<div class="intro-to-dataviz">
  <h2>
    Quels comtés ont le plus d'incidents par habitants?
  </h2>
  <p>
    Voici la variation du nombre d'incidents par 1000 habitants cumulés par comté entre l'année 2014 et l'année 2017.
    Seulement les 20 comtés avec la plus haute proportion d'incidents par 1000 habitants y sont présentés.
    Comme on peut le voir, le comté d'Orleans compte beaucoup plus d'incidents par armes à feu par 1000 habitants que tous les autres comtés.
    En effet, son plus proche rival, le comté de Milwaukee, en compte environ deux fois moins. De plus,
    on peut observer qu'il n'y a pas de tendance ni à la hausse, ni à la baisse entre 2014 et 2017. En effet, pour environ la 
    moitié des 20 comtés, on peut voir une augmentation, tandis que pour l'autre moitié des 20 comtés, on peut voir une diminution.
  </p>
  <h3>
    Comtés ayant le plus d'incidents par habitants
  </h3>
  <div class="loader" [ngClass]="{'hidden': loaded}"></div>
  <div [ngClass]="{'hidden': !loaded}">
    <svg id="slope-chart-1"></svg>
  </div>
</div>
