.intro-to-dataviz {
  padding: 2rem 2rem;
  text-align: center;
  height: 100vh;
}

h3 {
  margin-bottom: -20px;
  margin-top: 50px;
}

#tooltip {
  display: none;
  font-weight: bold;
  background-color: lightgray;
  opacity: 0.8;
  position: absolute;
  width: max-content;
  font-size: 12px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

span {
  font-weight: bold;
}
