<div class="container">
  <h1>
    Quelle est l'évolution des incidents au cours des années?
  </h1>
  <p>
    Voici le nombre d'incidents cumulés par mois par État entre le 1er janvier 2014 et le 31 décembre 2017.
    Comme on peut le voir, les États où il y a beaucoup d'incidents et de fluctuation à travers le temps sont la
    Californie, l'Illinois et la Floride. Cependant, pour la plupart des États, le nombre d'incidents est relativement
    constant au fil des mois.
  </p>
  <h3>
    L'évolution des incidents au cours des années
  </h3>
  <svg id="line-chart"></svg>
  <div id="tooltip"></div>
</div>
